{
  "env": {
    "browser": true,
    "es2021": true
  },
  "extends": [
    "eslint:all",
    "preact",
    "prettier"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 12,
    "sourceType": "module"
  },
  "rules": {
    "linebreak-style": "off"
  }
}
