@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #181818;
  color: white;
  margin: 0;
  padding: 0;
}

.volume-remove-button {
  position: absolute;
  top: 0.1em;
  right: 0.1em;
  background: none;
  border: none;
  color: white;
  font-size: 1.2em;
  cursor: pointer;
  opacity: 0.8;
}

.volume-drag-button {
  position: absolute;
  width: 50%;
  height: 1em;
  opacity: 0.5;
  left: 25%;
}

.text-outline {
  color: white;
  text-shadow: -1px -1px 0 #000,  
  1px -1px 0 #000,
  -1px 1px 0 #000,
  1px 1px 0 #000;
}

.volume-footer {
  position: absolute;
  bottom: 0.2em;
  opacity: 0.8;
}

.horizontal-layout {
  display: flex;
  gap: 0.2em;
  flex-wrap: wrap;
  align-items: baseline;
}

.volume-overlay {
  background: linear-gradient(to right,
      rgb(255 0 0 / 60%),
      rgb(255 166 0 / 60%));
  color: white;
  opacity: 0.8;
  padding: 0 0.2em;
  cursor: pointer;
}

input[type='number'] {
  width: 5em;
}

.context-menu {
  position: absolute;
  background-color: #181818;
  border: 1px solid #292929;
  box-shadow: 2px 2px 4px rgb(0 0 0 / 20%);
  z-index: 1;
  left: 30px;
  bottom: 20px;
}

.context-menu-item {
  padding: 8px 12px;
  cursor: pointer;
}

a:link {
  color: #5599dd;
}

.home-screen {
  align-items: center;
  width: 30em;
  margin: 1em;
}

#app {
  height: 100vh;
}