/* css reset? */
body {
    background-color:#181818;
    color: white;
}

.header-info-button {
    display: inline-block;
}

.view-template {
    display: none;
    position: relative;
}

#container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.volume-name {
    font-size: 1.4em;
    position: absolute;
}

.image-footer {
    font-size: 1.2em;
    position: absolute;
    bottom: 0.2em;
    left: 0;
    display: flex;
    gap: 10px;
    flex-direction: row;
}

.overlay-text {
    background: linear-gradient(to right, rgba(255, 0, 0, 0.6), rgba(255, 166, 0, 0.6));
    color: white;
    opacity: 0.8;
    padding: 0 0.2em;
}

input[type="number"] {
    width: 5em;
}

.context-menu {
    position: absolute;
    background-color: #181818;
    border: 1px solid #292929;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    display: none;
    z-index: 1;
}

.context-menu-item {
    padding: 8px 12px;
    cursor: pointer;
}

.submenu {
    display: none;
    position: absolute;
    background-color: #181818;
    border: 1px solid #292929;
    top: 0;
    left: 100%;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.overlay-container {
    position: relative;
    float: left;
}


.tooltip {
    opacity: 0.9;
    display: none;
    position: absolute;
    background-color: #333;
    color: rgb(185, 185, 185);
    padding: 5px;
    border-radius: 5px;
    bottom: 100%;
    z-index: 1;
}
