/* css-reset */
html {
    box-sizing: border-box;
    font-size: 16px;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

ol,
ul {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}

/* Main CSS */
body {
    background-color: #181818;
    color: white;
}

.header-info-button {
    display: inline-block;
}

.volume {
    position: relative;
    background: gray;
}

#container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 0px 2px;
}

.volume-name {
    font-size: 1.4em;
    position: absolute;
}

.volume-footer {
    font-size: 1.2em;
    position: absolute;
    bottom: 0.2em;
    left: 0;
    display: flex;
    gap: 10px;
    flex-direction: row;
}

.horizontal-layout {
    display: flex;
    gap: 0.2em;
    flex-wrap: wrap;
    align-items: baseline;
}

.volume-overlay {
    background: linear-gradient(to right, rgba(255, 0, 0, 0.6), rgba(255, 166, 0, 0.6));
    color: white;
    opacity: 0.8;
    padding: 0 0.2em;
}

input[type="number"] {
    width: 5em;
}

.context-menu {
    position: absolute;
    background-color: #181818;
    border: 1px solid #292929;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.context-menu-item {
    padding: 8px 12px;
    cursor: pointer;
}

.submenu {
    display: none;
    position: absolute;
    background-color: #181818;
    border: 1px solid #292929;
    top: 0;
    left: 100%;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.volume-overlay-options {
    display: none;
}