@tailwind base;
@tailwind components;
@tailwind utilities;

.text-outline {
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

a:link {
  color: #5599dd;
}
