name: Playwright Tests
on:
  push:
    branches: test
  pull_request:
    branches: main
jobs:
  test:
    timeout-minutes: 60
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-node@v4
      with:
        node-version: 18
    - name: Install dependencies
      run: npm install && npm ci
      working-directory: ./niivue
    - name: Install Playwright Browsers
      run: npx playwright install --with-deps
      working-directory: ./niivue
    - name: Run Playwright tests
      run: yarn start:webview && npx playwright test
      working-directory: ./niivue
    - uses: actions/upload-artifact@v3
      if: always()
      with:
        name: playwright-report
        path: niivue/playwright-report/
        retention-days: 30
